<div class="container">
  <h1>Angular HttpClient</h1>

  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Название" [(ngModel)] = "todoTitle">
    </div>
    <button class="btn" (click)="addToDo()">Добавить</button>
    <button class="btn" (click)="fetch()">Загрузить</button>

  </div>

  <hr>

  <div *ngIf= "!loading; else loadingBlock">
    <div class="card" *ngFor = "let todo of toDos">

      <p>
        <span [class.completed]= "todo.comp">{{todo.title | titlecase}}</span>
        <span >
          <button class="btn btn-danger" (click)= "deleteSome(todo.id)">Удалить</button>
          <button class="btn" [disabled]= "todo.comp" >Завершить</button>
        </span>
      </p>
    </div>

  </div>
<ng-template #loadingBlock>
  <p>Loading</p>
</ng-template>
</div>
